<title>서문시장 야시장</title>
<section class="main_visual">
  <div class="mv_inner">
    <div class="mv_text">
      <div class="moon fadeIn05"></div>
      <div class="mv_title fadeIn06"></div>
      <div class="right_txt fadeIn07">
        <strong>오감만족! 육감충족!</strong>
        <p>
          서문시장 야시장과 함께하는
          <br>夜한 대구여행
        </p>
        <div class="openTime">
          <p>일 월 수 목 : 19:00 ~ 22:30</p>
          <p>금 토 : 19:00 ~ 23:30</p>
        </div>
      </div>
    </div>
    <div class="notice_slide swiper mySwiper1">
      <strong class="noticeTitle">
        <a href="/noticeMain">공지사항</a>
      </strong>
      <div class="swiper-wrapper slide_wrap">
        <% rowNotice.forEach((row, index, array)=>{ %>
        <% let time = row.create_time; let toYear = time.getFullYear(); let toDate = time.getDate(); let toMonth = time.getMonth() + 1; %>
        <div class="swiper-slide">
          <span class="notice_content">
            <a href="/noticeRead?id=<%= row.id %>">
              <% if(row.noticeCheck == 'on'){ %>
              <div>[공지] <%= row.not_tit %></div>
              <% } %>
              <%= row.not_tit %>
            </a>
          </span>
          <span class="notice_date">
            <%= toYear %>.<%= toMonth %>.<%= toDate %>
          </span>
        </div>
        <% }); %>
      </div>
      <div class="swiper-button-next"><span class="btn_icon"></span></div>
      <div class="swiper-button-prev"><span class="btn_icon"></span></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<section class="section section1">
  <div class="section1_inner">
    <div class="mv_text">
      <div class="moon fadeOut05"></div>
      <div class="sec1_title fadeOut06">서문 시장</div>
      <div class="sec1_txt fadeOut06">
        <p>달빛을 배경으로 펼쳐지는</p>
        <p>한 밤의 예술 시장,</p>
        <p>시민과 함께 만드는 대구의 새로운 문화</p>
      </div>
    </div>
    <div class="youtube_wrap fadeOut07">
      <div class="youtube_inner">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/OdQ_ya1SF24" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<section class="section section2">
  <div class="section2_inner">
    <div class="mv_text">
      <strong class="fadeOut05">함께 누비는 4야</strong>
      <p class="fadeOut06">서문시장을 즐기는 4가지 방법</p>
    </div>
    <div class="swiper mySwiper2 fadeOut07">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide1">
          <span class="slide_title">1. 먹거리</span>
          <div class="slide_background slide_background1"></div>
          <span class="slide_subTitle">서문시장에서만 맛볼수 있는 먹거리</span>
          <div class="slide_info">
            <ul>
              <li><a href="">뉴욕치즈스테이크</a></li>
              <li><a href="">Mr. 남천꼬치</a></li>
              <li><a href="">6초밥</a></li>
              <li><a href="">차돌박야끼소바</a></li>
              <li><a href="">야채뚱땡 삼겹말이</a></li>
              <li><a href="">스테이크새우꼬치</a></li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide slide1">
          <span class="slide_title">2. 살거리</span>
          <div class="slide_background slide_background2"></div>
          <span class="slide_subTitle">서문시장에서만 찾아 볼수 있는 물건들</span>
          <div class="slide_info">
            <ul>
              <li><a href="">코코댁비누공장</a></li>
              <li><a href="">소리샘</a></li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide slide1">
          <span class="slide_title">3. 문화예술</span>
          <div class="slide_background slide_background3"></div>
          <span class="slide_subTitle">서문시장에서만 볼 수 있는 공연들</span>
          <div class="slide_info">
            <ul>
              <li><a href="">거리예술학교</a></li>
              <li><a href="">상설공연</a></li>
              <li><a href="">버스킹공연</a></li>
              <li><a href="">미디어파사드</a></li>
              <li><a href="">인터랙티브 미디어아트</a></li>
              <li><a href="">포토존</a></li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide slide1">
          <span class="slide_title">4. 주변관광지</span>
          <div class="slide_background slide_background4"></div>
          <span class="slide_subTitle">서문시장 근처의 다양한 관광지들</span>
          <div class="slide_info">
            <ul>
              <li><a href="">김광석 다시 그리기 길</a></li>
              <li><a href="">약령시</a></li>
              <li><a href="">대구향교</a></li>
              <li><a href="">동산의료원 의료선교 박물관</a></li>
              <li><a href="">대구예술발전소</a></li>
              <li><a href="">대구콘서트하우스</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-button-next2"></div>
      <div class="swiper-button-prev2"></div>
    </div>
  </div>
</section>
<section class="section section3">
  <div class="section3_inner">
    <div class="mv_text">
      <strong class="fadeOut05">서문시장 갤러리</strong>
      <p class="fadeOut06">서문야시장의 지난날들을 소개합니다.</p>
      <div class="img_slide fadeOut07">
        <div class="swiper mySwiper3">
          <div class="swiper-wrapper">
            <% rowSketchASC.forEach((row, index, array)=>{ %>
            <div class="swiper-slide"><a href="/sketchRead?id=<%= row.id %>"><img src="<%= row.ske_img %>" alt=""></a></div>
            <% }); %>
          </div>
        </div>
        <div class="swiper mySwiper4">
          <div class="swiper-wrapper">
            <% rowSketchDESC.forEach((row, index, array)=>{ %>
            <div class="swiper-slide"><a href="/sketchRead?id=<%= row.id %>"><img src="<%= row.ske_img %>" alt=""></a></div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section4">
  <div class="section4_inner">
    <div class="sec4_title"></div>
    <ul class="menu_list">
      <li>
        <a href="">
          <span class="menu_txt">오시는 길</span>
          <span class="menu_icon icon1"></span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="menu_txt">시장안내</span>
          <span class="menu_icon icon2"></span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="menu_txt">행사안내</span>
          <span class="menu_icon icon3"></span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="menu_txt">매대위치</span>
          <span class="menu_icon icon4"></span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="menu_txt">입점신청</span>
          <span class="menu_icon icon5"></span>
        </a>
      </li>
      <li>
        <a href="">
          <span class="menu_txt">묻고답하기</span>
          <span class="menu_icon icon6"></span>
        </a>
      </li>
    </ul>
  </div>
</section>
<script src="js/mainPage.js"></script>