<title>서문시장 공지사항</title>
<div class="sub_visual">
  <div class="main_slider">
    <div class="subVisual_layout">
      <div class="layout_txt">
        <div class="moon"></div>
        <div class="sec1_title">서문시장</div>
      </div>
      <div class="layout_location">
        <div class="location_wrap">
          <a href="/" class="location_home">
            <span class="home_icon"></span>
          </a>
          <a href="/noticeMain">커뮤니티</a>
          <a href="/noticeMain">공지사항</a>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="sub_section">
  <div class="section_inner">
    <div class="section_con">
      <div class="section_title">
        <h2>공지사항</h2>
      </div>
      <div class="notice_viewWrap">
        <div class="view_title">
          <h4><%= row.not_tit %></h4>
        </div>
        <ul class="view_info">
          <li class="writer">
            <span>작성자</span>
            <%= row.write_user %>
          </li>
          <li class="date">
            <span>작성시간</span>
            <% let time = row.create_time; let toYear = time.getFullYear(); let toDate = time.getDate(); let toMonth = time.getMonth() + 1; %>
            <%= toYear %>-<%= toMonth %>-<%= toDate %>
          </li>
          <li class="view_ctn">
            <span>조회수</span>
            <%= row.view_cnt %>
          </li>
          <li class="file">
            <span>파일이름</span>

          </li>
        </ul>
        <div class="view_con">
          <p><%= row.not_content %></p>
        </div>
        <div class="board_btnWrap">
          <a href="/noticeMain" class="list_btn">목록</a>
        </div>
      </div>
    </div>
  </div>
</section>